laravel.local {
	reverse_proxy laravel:9000 {
		transport fastcgi {
			env SCRIPT_FILENAME /var/www/public/index.php
			env DOCUMENT_ROOT /var/www/public
			split .php
		}
	}
}

hono.local {
	reverse_proxy hono:3000
}